body {
    background-color: rgb(247, 244, 227);
    font-family: proxima_novasemibold, sans-serif;
}

.security {
    width: 60%;
}

.security caption {
    text-align: center;
    font-family: proxima_novasemibold, sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: bisque
}

.security thead {
    text-align: center;
    font-family: proxima_novasemibold, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: bisque
}

.security tbody td:nth-child(1) {
  width: 4%;
  text-align: center;
}

.security tbody td:nth-child(2) {
  width: 6%;
  text-align: center;
}

.security tbody td:nth-child(3) {
  width: 10%;
  text-align: center;
}

.security tbody td:nth-child(4) {
  width: 46%;
  text-align: left;
}

.security td {
    background-color: azure;
    border: 1px solid rgb(224, 231, 219);
    font-family: proxima_novasemibold, sans-serif;
    font-size: 18px;
}

.table td {
    background-color: rgb(202, 247, 173);
    border: 1px solid rgb(224, 231, 219);
    font-family: proxima_novasemibold, sans-serif;
    font-size: 14px;
}

.table .td-right {
    text-align: right;
}

.table .th-footer {
    text-align: right;
    font-family: proxima_novasemibold, sans-serif;
    font-size: 14px;
}

.table thead {
    text-align: center;
    font-family: proxima_novasemibold, sans-serif;
    font-size: 16px;
    font-style: oblique;
    background-color: hsl(96, 32%, 64%);
}

.table td:hover {
    background-color: cadetblue;
    color: blanchedalmond;
    cursor:pointer;
    border: 1px solid #338d4e;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.link {
    text-decoration: none;
    color: inherit;
}
