.table td {
    background-color: rgb(202, 247, 173);
    border: 1px solid #338d4e;
    font-family: proxima_novasemibold, sans-serif;
    font-size: 15px;
}

.table .td-right {
    text-align: right;
}

.table .th-footer {
    text-align: right;
    font-family: proxima_novasemibold, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(238, 233, 192);
}
