.table td {
    background-color: rgb(202, 247, 173);
    border: 1px solid rgb(224, 231, 219);
    font-family: proxima_novasemibold, sans-serif;
    font-size: 14px;
}

.table .td-right {
    text-align: right;
}

.table .th-footer {
    text-align: right;
    font-family: proxima_novasemibold, sans-serif;
    font-size: 14px;
}

body {
    background-color: rgb(238, 233, 192);
    font-family: proxima_novasemibold, sans-serif;
}

.table td:hover {
    background-color: cadetblue;
    color: blanchedalmond;
    cursor:pointer;
    border: 1px solid #338d4e;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.link {
    text-decoration: none;
    color: inherit;
}
