<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.Account.Name}}</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <table class="security">
            <caption>
                {{.Account.Name}} {{.Account.Total}} Доходность {{.DailyYield}}
            </caption>
            <thead><tr>
            <th>Logo</th><th>Ticker</th><th>Name</th><th>Balance</th>
            </tr></thead>
            <tbody>
            {{range .Pos.Securities}}
            <tr>    
                <td><img src="images/{{.InstrumentDesc.Brand.LogoName}}"></td>
                <td>{{.Ticker}}</td>
                <td>{{.InstrumentDesc.Name}}</td>
                <td class="td-right">{{.Balance}}</td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </body>
</html>
