<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.Account.Name}}</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <h1>{{.Account.Name}} {{.Account.Total}} Доходность {{.DailyYield}}</h1>
        <div class="divtable">
            {{range .Pos.Securities}}
            <div class="divrow">
                <div class="cell"><img class="logo" src="images/{{.InstrumentDesc.Brand.LogoName}}"></div>
                <div class="cell">{{.InstrumentDesc.Name}}<br><div class="smallfont">{{.Ticker}}</div></div>
                <div class="cellright">{{.Balance}}</div>
                <div class="cellright">{{.WeightedAveragePrice}}</div>
            </div>
            {{end}}
        </div>
    </body>
</html>
