<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TINVEST</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <h1>TINVEST</h1>
        <div class="divtable">
            {{range .Accs}}
                <div class="divrow">
                    <div class="cell"><a class="link" href="acc?id={{.Id}}">{{.Id}}</a></div>
                        <div class="cell">{{.Name}}</div>
                       <div class="cellright" id="acc_{{.Id}}">{{.Total}}</div>
                </div>
            {{end}}
            <div class="divfooter">
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cellright" id="totalSum">{{.Total}}</div>
            </div>
        </div>
        <script>
            const totalSum = document.getElementById('totalSum');

            const ws = new WebSocket('ws://localhost:8901/ws');

            ws.onmessage = (event) => {
                const data = JSON.parse(event.data);
                totalSum.textContent = data.totalsum;
                for (const i in data.accounts) {
                    console.log(data.accounts[i].Id)
                    const accountSum = document.getElementById("acc_" + data.accounts[i].Id)
                    accountSum.textContent = data.accounts[i].Sum
                }
            };

            ws.onerror = (error) => {
                console.error('WebSocket error:', error);
            };

            document.addEventListener('visibilitychange', function() {
                if (ws.readyState === WebSocket.OPEN) {
                    const state = document.visibilityState;
                    ws.send(JSON.stringify({
                        type: 'visibilityChange',
                        state: state
                    }));
                }
                if (document.visibilityState === "visible") {
                    console.log("page is visible")
                } else {
                    console.log("page is hidden")
                }
            });
        </script>
    </body>
</html>
